cache:
  directories:
  - "$HOME/.cache/pip"
sudo: false
language: python
matrix:
  include:
  - python: '3.5'
    env: TOXENV=py35
  - python: '3.5'
    env: TOXENV=pep8
install: pip install tox codecov
script: tox
after_success: codecov
notifications:
  email: false
